version: 2.1
jobs:
  build:
    working_directory: ~/go/src/github.com/Clever/launch-gen
    docker:
      - image: cimg/go:1.24
    environment:
      CIRCLE_ARTIFACTS: /tmp/circleci-artifacts
      CIRCLE_TEST_REPORTS: /tmp/circleci-test-results
    steps:
      - run:
          command: cd .. && git clone --depth 1 -v https://github.com/Clever/ci-scripts.git && cd ci-scripts && git show --oneline -s
          name: Clone ci-scripts
      - checkout
      - setup_remote_docker
      - run: make install_deps
      - run: make build
      - run: make test
      - run: ../ci-scripts/circleci/catalog-sync $CATAPULT_URL $CATAPULT_USER $CATAPULT_PASS launch-gen utility
